.container {
  height: 55px;
  line-height: 55px!important;
  box-sizing: border-box;
  :global(.el-breadcrumb__separator) {
    font-size: 20px!important;
    color: #303133;
  }
  .title {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--el-text-color-primary);
    font-size: 16px;
    cursor: pointer;
    &:hover {
      color: $primaryColor;
    }
    :global(.el-icon) {
      margin-top: -3px;
    }
  }
  .label {
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #303133;
  }
  .divider {
    margin: 0 16px;
  }
}
